<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/home.css">
	<title>home</title>
</head>
<body>
	<div class="wrapper">
		<footer>
			<div class="foot-wrap">

			</div>
		</footer>
		<div class="main-content">
			<h1>умная теплица</h1>
			<br>
			<div class="tepliza-wrap">
				<% sections.forEach(section => { %>
					<a href="/section/<%= section.id %>">
						<div class="tepliza-section">
							<div class="number"><h3><%= section.id %></h3></div>
							<div class="section-info">
								<p>t: <%= section.temperature %>C</p>
								<p>f: <%= section.wetness %>%</p>
								<p>e: <%= section.light %>Lx</p>
							</div>
						</div>
					</a>
				<% }); %>
		</div>
		</div>

	</div>
	<script type="text/javascript" src="/scripts/websocketHome.js"></script>
</body>
</html>